<aside class = "side-menu__container" 
 [ngClass]="{'side-menu__container-active': showMenu}" 
 (click)="toggleMenu()">
<nav class = "slide-menu" [ngClass]="{'slide-menu-active': showMenu}" 
 (click)="$event.stopImmediatePropagation();">
  <section class = "menu-header">
    <span class = "greeting__text">Welcome Back</span>
    <div class = "profile-image__container">
      <img src = "https://avatars3.githubusercontent.com/u/5658460?s=460&v=4"
       alt="profile-image" class = "profile__image">
    </div>
    <div class = "account-details">
      <span class = "name__text">Vidumini Sulochana Perera</span>
      <span class = "email__text">heartyvds@gmail.com</span>
    </div>
  </section>
  <section class = "menu-body">

  </section>
  <section class = "menu-footer">

  </section>
</nav>
</aside>

<div class = "root__container">
  <header class = "main__header" [ngClass]="{'main__header-dark': darkModeActive}">
    
    <div class = "left__section">
      <svg class = "hamburger__icon" id = "Menu_Burger_Icon"
       data-name="Menu Burger Icon" 
       (click)="toggleMenu()">
        <!-- hamburger icon svg logo code goes here -->
        <defs>
            <style>.hamburger__icon__fill {
                fill: #594e78
            }</style>
        </defs>
        <rect id="Rectangle_9" width="49.9" height="4" class="hamburger__icon__fill" data-name="Rectangle 9" rx="2"
              transform="translate(31.5 58)"/>
        <rect id="Rectangle_10" width="49.9" height="4"  class="hamburger__icon__fill" data-name="Rectangle 10" rx="2"
              transform="translate(31.5 44)"/>
        <rect id="Rectangle_11" width="49.9" height="4"  class="hamburger__icon__fill" data-name="Rectangle 11" rx="2"
              transform="translate(31.5 30)"/>        
      </svg>

      <svg>

      </svg>
    </div>

    <h3 class = "date__text">Today</h3>

    <div class = "mode-toggle__container">
      <span class = "mode-toggle__text">Light</span>

      <label class = "toggle-button__container">
        <input class = "mode-toggle__input" (click)="modeToggleSwitch()"
         type="checkbox">
        <span class = "mode-toggle__bg"
         [ngClass]="{'mode-toggle__bg-checked': darkModeActive}"></span>
        <span class = "mode-toggle__circle"
         [ngClass]="{'mode-toggle__circle-checked': darkModeActive}"></span>
      </label>

      <span class = "mode-toggle__text">Dark</span>
    </div>

  </header>
  
  <!-- Main Content -->

  <!-- <router-outlet></router-outlet> -->
  <main class = "main__container">
    <div class = "main-container__bg"
    [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->

  <footer class = "main__footer">
    <small class = "copyright__text">Copyright © 2018 Minimus</small>
  </footer>
</div>
